body {
    background: #ccc;
}

.tabs, .balance {
    margin: 10px;
    text-align: center;
    align-content: center;
}

.well {
    margin-top: 20px;
    padding: 10px;
    min-height: 200px; 
    border: 1px solid red;
    display: none;
}

@media screen and (min-width: 700px)  {
    .well, .balance, .alert {
        margin: 10px 300px;
    }
}

.selected {
    display: block;
}

.balance {
    background: black;
    color: white;
    font-size: 24px;
    /*padding: 5px;*/
    border: 1px solid #fff;
}

.balance strong {
    color: red;
}

.alert {
    margin-top: 10px;
    min-height: 2em;
    padding: 5px;
    text-align: center;
}

.alert-success {
    background: #2c8;
}

.alert-danger {
    background: lightcoral;
}

.active {
    background: midnightblue;
    color: #fff;
}